ul {
    padding: 0;
    margin: 0;
}

li {
    background-color: #4a4a4a;
    margin: 3px;
    padding: 60px 40px 60px 100px;
    background-image: url(quadrado.png);
    background-repeat: no-repeat;
    background-position: 40px center;
    text-transform: none;
    
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    background-image: url(seta.png);
    background-repeat: no-repeat;
    display: block;
    background-position: right;
}

li:hover {
    background-color: #6e6e6e;
    
}

.feito {
    background-color: #27ae60;
    background-image: url(done.png);
}

.feito:hover{
    background-color: #52be7f;
}

