body {
    display: flex;
    font-family: 'Arial', sans-serif;
}
aside {
    background-color: #242536;
    height: 60px;
    width: 15%;
    height: 950px;
    padding: 0; margin: 0;
}

aside nav {
    margin: 0; padding: 0;
}

aside nav h1 {
    background-image: url(imagens/nucliot-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    margin: 0;
    background-color: #151524;
}

aside nav span {
    visibility: hidden;
}

aside nav ul {
    list-style: none;
    margin: 0; padding: 0;
    padding-left: 3px;
    padding-top: 15px;
}

aside nav ul li {
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;

}

aside nav ul li:hover {
    border-left: #ffb946 solid 3px;
    background-color: #151524;
    cursor:pointer;
    padding-left: 0;
}


aside nav ul li a {
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
    vertical-align: middle;
    line-height: auto;
    margin-left: 5px;
}


aside nav ul li i {
    margin-right: 12px;
    height: 15px;
    width: 15px;
    padding-left: 3px;
    
}
aside nav ul li a small {
    color: #454655;
    float: right;
    padding-right: 10px;
}


section {
    background-color: #f5f5f5;
    height: 60px;
    float: right;
    width: 85%;
    height: 950px;
}

section header {
    background-color: #242536;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 15px;
}

section .menu {
    height: 60px;
    background-color: #fff;
}

section .canvas {
    background-color: #fff;
    height: 100hv ;
    margin: 15px;
}

section .menu ul {
    margin: 0; padding:0;
    list-style: none;
}

section .menu ul li {
    display:inline-block;
}

section .menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
    line-height: 60px;
}

section .menu ul li a:hover {
    color: #ffbd4d; 
    box-shadow: 0px -3px 0px #ffbd4d inset;
        
}

section .canvas {
    padding: 20px;
    border-radius: 4px;
    height: 750px;
}

section form {
 
}


section form input, select {
    display: block;
    width:45%;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding-left: 10px;
}

section form select {
    box-sizing: content-box;

}
section form p {
     margin: 0; padding: 0;
    font-size: 12px;
    width: 45%;
    margin-bottom: 10px;
}

section form p.title {
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

section form input {
    margin-bottom: 10px;
}

section form input.checkbox {
    width: 15px;
    height: 15px;
    display: inline;
    margin: 0; padding: 0;
    margin-bottom: 10px;
}

section form p.leg {
    margin: 0; padding: 0;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    width: 45%;
    vertical-align:text-top;
}

section input.button {
    background-color: #3aca60;
    border: none;
    border-radius: 4px;
    width: 45%;
    color: white;
    padding: 7px;
    margin-top: 20px;
}


